.new_parent{
    margin-left: 100px;
    margin-right:100px;
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-bottom:50px;
}

.new_bullet{
    display:flex;
    gap: 10px;
    color: #DB4444;
    font-size:80%;
    font-weight: 600;
    align-items: center;
}

.new_bullet_marker{
    height: 30px;
    width: 15px;
    border-radius:4px;
    background-color: #DB4444;  
}

.new_heading{
    display:flex;
    gap: 15px;
    align-items: end;
    justify-content: space-between;
    margin-right: 25px;
}

.new_title{
    font-size:200%;
    font-weight:600;
}

.display_parent{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

.featured_1{
    height: 43vw;
    width: 41.5vw;
    background-image: url("./featured_img1.png");
    background-size: cover;
    border-radius: 12px;
}

.featured_2_3_4{
    height: 43vw;
    width: 41.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.featured_2{
    height: 20.5vw;
    width: 41.5vw;
    background-image: url("./featured_img2.png");
    background-size: cover;
    border-radius: 12px;
}

.featured_3_4{
    height: 20.5vw;
    width: 41.5vw;
    display: flex;
    justify-content: space-between;
}

.featured_3{
    height: 20.5vw;
    width: 19.75vw;
    background-image: url("./featured_img3.png");
    background-size: cover;
    border-radius: 12px;
}

.featured_4{
    height: 20.5vw;
    width: 19.75vw;
    background-image: url("./featured_img4.png");
    background-size: cover;
    border-radius: 12px;
}

.featured_1:hover, .featured_2:hover, .featured_3:hover, .featured_4:hover {
    cursor:pointer;
}

@media (max-width:768px){
    .new_parent{
        margin-left:40px;
        margin-right: 40px;
    }

    .new_heading{
        align-items:center;
        margin-right: 0px;
    }

    .display_parent{
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
}

@media (max-width:1250px){
    .display_parent{
        flex-direction:column;
        align-items: center;
        gap: 20px;
    }

    .featured_1{
        height: 74vw;
        width: 70vw;
    }

    .featured_2_3_4{
        height: 74vw;
        width: 70vw;
    }

    .featured_2{
        height: 36vw;
        width: 70vw;
    }

    .featured_3_4{
        height: 36vw;
        width: 70vw;
    }

    .featured_3{
        height: 36vw;
        width: 34vw;
    }

    .featured_4{
        height: 36vw;
        width: 34vw;
    }
}