
.Conta {
  display: flex;
  justify-content: center;

  align-items: center;
}

.img-Conta {
  text-align: center;
  width: 450px;
}

.img_login {
  max-width: 100%;
  height: auto;
}

.sml-conta {
  width: 100%;
  max-width: 400px;
  /* margin-top: 2px; */
  padding: 20px;
  border-radius: 5px;
  margin-top: -52px;

}

.first-head {

  text-align: center;
  font-size: 30px;
padding: 15px;
margin: 10px;
}

.sub-head {
  text-align: center;
  font-size: medium;
  color: grey;
  font-weight: 10px;
  
}


.form-page {
  display: flex;
  flex-direction: column;
}

.inpt-pswrd,
.inpt-email {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
}

.ftr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: red;
}

.lst-headi {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .Conta {
    flex-direction: column; 
    display: flex;
    align-items: center;
    text-align: center;
  }

  .sml-conta {
    width: 80%; 
  }

  .submit-btn {
    width: 100%; 
  }
}
