
.Conta {
  display: flex;
  justify-content: center;
<<<<<<< HEAD

  align-items: center;
=======
  align-items: center;
  margin-top: 80px;
>>>>>>> 0c319a48e9fdf9f4c45dd0556d7598c993c2dfb7
}

.img-Conta {
  text-align: center;
  width: 450px;
}

.img_login {
  max-width: 100%;
  height: auto;
}

.sml-conta {
  width: 100%;
  max-width: 400px;
<<<<<<< HEAD
  /* margin-top: 2px; */
  padding: 20px;
  border-radius: 5px;
  margin-top: -52px;

}

.first-head {

  text-align: center;
  font-size: 30px;
padding: 15px;
margin: 10px;
=======
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}

.first-head {
  text-align: center;
  font-size: 30px;
>>>>>>> 0c319a48e9fdf9f4c45dd0556d7598c993c2dfb7
}

.sub-head {
  text-align: center;
  font-size: medium;
<<<<<<< HEAD
  color: grey;
  font-weight: 10px;
  
=======
>>>>>>> 0c319a48e9fdf9f4c45dd0556d7598c993c2dfb7
}


.form-page {
  display: flex;
  flex-direction: column;
}

.inpt-pswrd,
.inpt-email {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
}

.ftr {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  justify-content: space-between;
=======
>>>>>>> 0c319a48e9fdf9f4c45dd0556d7598c993c2dfb7
  align-items: center;
  color: red;
}

.lst-headi {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .Conta {
    flex-direction: column; 
    display: flex;
    align-items: center;
    text-align: center;
<<<<<<< HEAD
=======
    margin-top: 40px;
>>>>>>> 0c319a48e9fdf9f4c45dd0556d7598c993c2dfb7
  }

  .sml-conta {
    width: 80%; 
  }

  .submit-btn {
    width: 100%; 
  }
<<<<<<< HEAD
=======

  .img_login{
    display:none;
  }
>>>>>>> 0c319a48e9fdf9f4c45dd0556d7598c993c2dfb7
}
