.bottom_parent{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 90px;
}

.bottom_image{
    height: 14vw;
    width: 60vw;
    background-image: url("./bottom_image.png");
    background-size: cover;
  }

@media (max-width:768px){
    .bottom_parent{
        display:none;
    }
}