.speaker_parent{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.speaker_image{
    height: 34vw;
    width: 80vw;
    background-image: url("./jbl_speaker.png");
    background-size: cover;
  }

.speaker_image:hover{
    cursor:pointer;
}

@media (max-width:768px){
    .speaker_parent{
        margin-bottom: 20px;
    }
}