.sidebar_parent{
    height: 395px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 17px;
    margin-left: 100px;
    border-right: 2.5px solid rgb(0,0,0,0.1);
    padding-right: 20px;
    font-size: 95%;
    width: 200px;
    overflow: hidden;
    padding-top: 20px;
}

.drop{
    font-size: 130%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidebar_tags{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar_tags:hover{
    color: #df5555;
    cursor:pointer;
}

.women_dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.men_dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
}